<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yumuing.community.mapper.LoginTicketMapper">

    <resultMap id="BaseResultMap" type="top.yumuing.community.entity.LoginTicket">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="ticket" column="ticket" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="expired" column="expired" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,ticket,
        status,expired
    </sql>
    <insert id="insertAll" parameterType="LoginTicket" keyProperty="id">
        insert into login_ticket
        (id, user_id, ticket,
         status, expired)
        values (#{id,jdbcType=NUMERIC}, #{userId,jdbcType=NUMERIC}, #{ticket,jdbcType=VARCHAR},
                #{status,jdbcType=NUMERIC}, #{expired,jdbcType=TIMESTAMP})

    </insert>
    <select id="selectOneByTicket" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from login_ticket
        where
        ticket = #{ticket,jdbcType=VARCHAR}
    </select>
    <update id="updateStatusByTicket">
        update login_ticket
        set status = #{status,jdbcType=NUMERIC}
        where ticket = #{ticket,jdbcType=VARCHAR}
    </update>
</mapper>
